@import 'tailwindcss';

@theme {
  --color-primary: #5465ff;
  --color-inputBg: #334155;
  --color-darkMode-secondary-text: #cccccc;
  --color-label-color: #515b6b;
  --color-darkModeBG: #0f172a;
  --color-darkModeSliderBg: #1e293b;
  --color-white: #ffffff;

  --color-text-color: #94a3b8;

  --color-berlin: #2e294e;
  --color-dublin: #dad7cd;
  --color-stockholm: #1b998b;
  --color-sydney: #00a8e8;
  --color: #641220;

  --font-inter: 'Inter', sans-serif;

  --radius-default: 7px;
}
